<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{{ "js/fresh.js" | relURL }}"></script>
<script src="{{ "js/jquery.panelslider.min.js" | relURL }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="{{ "js/chinese.js" | relURL }}"></script>
<script type="text/javascript">
  Translate.BindObj('switchChinese', '简体中文', true);
</script>
<script>
  var _wb_cid_='sv56t2P0VOZ';
  (function(){
    var w=document.createElement("script");
    w.charset='utf-8';
    w.src="https://weibanzhushou.com/api/ocs/widget.js";
    var s=document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(w,s)
  })();
</script>
